.footer {
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: tan;
  color: saddlebrown;
  text-align: center;
}

.footer-text {
  font-size: 20px;
}